*{
    margin:0;
}

body{
    display:flex;
    width:100vw;
    height:100vh;
    gap:10px;
    background-color:blue;
}

#side-bar{
    background:pink;
    flex-grow:.3;
}

#main-content{
    display:flex;
    gap:10px;
    background:green;
    flex-grow:1;
}

.block{
    background-color:white;

    width:100px;
    height:100px;
    border-radius: 20px;
}